.list {
  border: none;
  padding: 1em 1.5em;
  box-shadow: 0px 1px 9px 0px rgba(117, 117, 117, 0.39);
  border-radius: 0.5em;
  margin: 1.1em 0.8em;
  background-color: white;
  text-align: left;
  cursor: pointer;
}

.input-date {
  padding: 0.8em;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  width: 96%;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.input-text {
  width: 500px;
  padding: 0.7em 1.2em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  margin-bottom: 0.9em;
  font-size: 1em;
}

.input-select {
  padding: 0.8em;
  border-radius: 0.3em;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  font-size: 0.9em;
}

.modal-content {
  background-color: white;
  box-shadow: 0px 1px 9px 0px rgba(117, 117, 117, 0.39);
  border-radius: 0.5em;
}

.button {
  background-color: #eee;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 0.5em;
}

.floating-plus {
  background-color: #f23030;
  padding: 1em 1.32em;
  border-radius: 60%;
  box-shadow: 0px 1px 9px 0px rgba(242, 48, 48, 0.39);
  position: absolute;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 2;
  color: white;
  font-size: 1.2em;
}

@media screen and (max-width: 1024px) {
  .input-text {
    width: 90% !important;
  }
  .input-select {
    width: 110% !important;
  }
}
